.lista-colaborador-container {
    margin-bottom: 1em;
    padding-left: 2em ;
    width: 40em;
    background-color: rgba(109, 109, 109, 0.425);
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.page-colaborador {
    display: block;
    margin-top: 1em;
}

.atributos {
    font-weight: bold;
    text-align: left;
}

.dados {
    text-align: left;
    margin-left: 5em;
}

.botao-deletar {
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba(196, 21, 21, 0.747);
    margin-left: auto;
    border-radius: 30px;
    height: 10em;
}